doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet' href='css/main.css')
    script(src='js/jquery.min.js')
    script(src='js/paper-full.min.js')
    script(src='js/main.js')
  body
    canvas#myCanvas(resize)
    #second.clocktext design and developent
    #hour.clocktext daniel
    #minute.clocktext emanuelsson
